<div class="row">
   <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div *ngIf="isLoading">
         <app-loading-spinner></app-loading-spinner>
      </div>
      <form
         #forgotPasswordForm="ngForm"
         (ngSubmit)="onSubmit(forgotPasswordForm)"
         *ngIf="!isLoading"
      >
         <div class="form-group">
            <label for="email">E-Mail</label>
            <input
               type="email"
               id="email"
               class="form-control"
               ngModel
               name="email"
               required
               email
            />
         </div>

         <div>
            <button class="btn btn-success" type="submit" [disabled]="!forgotPasswordForm.valid">
              Submit Password Reset Request
            </button>
            |
            <button class="btn btn-primary" (click)="onSwitchToSubmitPassword()">
               Switch to Submit New Password Page
            </button>
            |
            <button class="btn btn-primary" (click)="onSwitchToLogin()">
               Switch to Login
            </button>

         </div>
      </form>
   </div>
</div>
